.main {
  position: relative;
  width: 100%;
  height: 80%;
  background-color: var(--main-accent);
}

.main-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-image: url(../../assets/logo_pink.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  opacity: 0.5;
  align-self: center;
}
