.login-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.5em;
}

.login-link p {
  font-size: 1.5rem;

  color: var(--text-color);
  font-size: 2rem;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
}

.login-link span {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--text-color);
  border: solid 8px var(--main-light);
}

.login-link span:hover {
  cursor: pointer;
  background-color: var(--main-light);
  border-color: var(--text-color);
}
